*.class
.idea/
*.iml
*.log
.factorypath
/target/
develop.bat
uat.bat
**/.classpath*
**/.project*
bazel-bin
bazel-out
bazel-testlogs
bazel-tms
.ijwb/
.bazelbsp/
.DS_Store
maven_install.json
.vscode/settings.json
**/__pycache__/**
# Ignore application2.properties
/src/main/resources/application2.properties
/databases/stockdata.mv.db
